# version: '3'

services:

  nginx:
    image: nginx:latest
    volumes:
      - ./_docker/nginx/conf.d/:/etc/nginx/conf.d/
      - ./:/var/www/
    ports:
      - "8876:80"
    depends_on:
      - app
    container_name: SuperServer2


  
  app:
    build: 
      context: .
      dockerfile: _docker/app/Dockerfile
    volumes:
      - ./:/var/www
    depends_on:
      - db
    container_name: php1

  db:
    image: mysql:8.0
    restart: always
    volumes:
      - ./tmp/db:/var/lib/mysql
    environment:
       MYSQL_DATABASE: laradocker
       MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:8036"
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
  
  PhpMyAdmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
   